@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
  --color-navy: #1A1265;
  --color-beige: #EBEBDF;
  --color-light-navy: #362B8E;
  --color-dark-navy: #0F0A4A;
  --color-light-beige: #F8F8F0;
  --color-dark-beige: #D7D7C7;
  --color-purple: #DDA0DD;
  --color-yellow-olive: #BDB76B;
  --color-blue-analog: #4A90E2;
  --color-gray-white: #F5F5F5;
  --color-gray-black: #333333;
  --font-sans: "Antonio", sans-serif;
  --font-paragraph: "ProximaNova, sans-serif";
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faeade;
  color: #523122;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}